body {
    font-family: 'Montserrat Alternates', sans-serif;
    font-weight: 700;
    background-color: #ffffff;
    color: #000000;
}

*,*::after,*::before {
    box-sizing: border-box;
}

p {
    margin: 0;
}

.accordion {
    max-width: 70%;
    margin: auto;
    
}

.acc-item {
    height: fit-content;
    border-top: 0.1vw solid #dcdcdc;
    margin-bottom: 1vw;
}
.acc-item:hover {
    cursor: pointer;
}
.accordion:hover .cross {
    opacity: 1;

}
.acc-item:active .img-meme {
    opacity: 0.8;
}
.acc-item:active > .label > .item-title {
    color: #ff00d4;
}
.acc-item:active > .label > .item-title > .cross {
    fill: #ff00d4;
}

.accordion:hover .item-title {
    color: #000000;
}
.acc-title {
    display: block;
    margin: 2vw 0;
    text-align: center;
    font-size: 5vw;
}
.item-title:hover {
    cursor: pointer;
}
.item-body:hover {
    cursor: pointer;
}

.label {
    cursor: pointer;
    display: flex;
    flex-direction: column;
}

.item-title {
    display: flex;
    color: #ff00d4;
    justify-content: space-between;
    font-size: 2vw;
    padding: 1vw 2vw 1vw 0vw;
    transition: 0.2s ease-in-out;
    
}



.item-input {
    appearance: none;
    width: 0;
    height: 0;
}

.item-input:checked ~ .label > .item-body {
    max-height: 30em;
}

.item-input:checked ~ .label > .item-title > .cross {
    transform: rotate(45deg);
}
.item-input:checked ~ .label > .item-title {
    color: #000000;
}

.item-body {
    max-width: 100%;
    display: block;
    max-height: 0;
    overflow: hidden;
    margin: 0 auto;
    transition: 0.2s ease-in-out;
}

.img-meme {
    display: block;
    margin: 3% auto;
    height: 20vw;
}

.cross {
    opacity: 0;
    height: 2vw;
    transition: 0.2s;
}


   @media (min-width: 860px) {
    .acc-item:hover .item-body {
        max-height: 30em;
    }
    .acc-item:hover {
        color: #ff00d4;
    }
    .item-title:hover {
        color: #ff00d4;
    }
}